In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./gamedata_good.csv')
print(df.shape)
df.sample(15)

(17534, 4)

,Game,Platform,Score,Genre
16565,Dinolympics,Lynx,7.0,Puzzle
14630,NFL QB Club 2002,PlayStation 2,5.8,Sports
11653,The SpongeBob SquarePants Movie,GameCube,7.8,Platformer
10624,Tim Burton's The Nightmare Before Christmas: T...,Game Boy Advance,6.5,Action
10289,Drill Dozer,Game Boy Advance,8.0,Action
14972,Airfix Dogfighter,PC,8.0,Action
17328,Triple Play '98,PlayStation,9.2,Sports
10799,Marvel Nemesis: Rise of the Imperfects,GameCube,4.8,Fighting
3898,BioShock 2,PlayStation 3,9.1,Shooter
4768,Secret Command,Master System,6.0,Other
7070,Baroque,Wii,5.4,RPG
14961,Championship Motocross 2001 Featuring Ricky Ca...,PlayStation,6.4,Racing
7909,Battalion Wars 2,Wii,8.0,Action
13769,Need for Speed: Hot Pursuit 2,GameCube,7.3,Racing
15439,Return of The Incredible Machine: Contraptions,PC,8.4,Puzzle

In [3]:
df['Genre'] = df['Genre'].str.split(',').str[0]
df.head()

                         Game       Platform  Score    Genre
0  Wolfenstein: The New Order       Xbox One    7.8  Shooter
1                Mario Kart 8          Wii U    9.0   Racing
2               Sportsfriends  PlayStation 3    8.7   Action
3               Sportsfriends  PlayStation 4    8.7   Action
4               Sportsfriends             PC    8.7   Action

In [4]:
df['Genre'].value_counts()

Action          4765
Sports          2108
Shooter         1494
Racing          1423
Strategy        1084
Adventure       1026
Puzzle          1005
RPG              878
Platformer       781
Fighting         620
Simulation       544
Music            406
Flight           182
Card             166
Party            138
Wrestling        129
Trivia           117
Hunting          114
Board            107
Virtual Pet       80
Pinball           78
Educational       69
Compilation       57
Productivity      40
None              38
Casino            31
Battle            30
Other             21
Adult              2
Baseball           1
Name: Genre, dtype: int64

In [5]:
other = ('Pinball', 'Educational', 'Compilation', 'Productivity', 'None',
        'Casino', 'Battle', 'Adult')
#Baseball           

df['Genre'] = df['Genre'].replace(['Pinball', 'Educational', 'Compilation', 'Productivity', 'None', 
                                   'Casino', 'Battle', 'Adult', 'Virtual Pet', 'Baseball'],
                                  ['Other', 'Other', 'Other', 'Other', 'Other', 'Other', 'Other',
                                   'Other', 'Other', 'Sports'])
                
df['Genre'].value_counts()

Action        4765
Sports        2109
Shooter       1494
Racing        1423
Strategy      1084
Adventure     1026
Puzzle        1005
RPG            878
Platformer     781
Fighting       620
Simulation     544
Other          446
Music          406
Flight         182
Card           166
Party          138
Wrestling      129
Trivia         117
Hunting        114
Board          107
Name: Genre, dtype: int64